body {
    font-family: sans-serif;
    background-color: #333;
    color: #fff;
}

.schedule-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #555; /* Add a border */
}

.schedule-container th, .schedule-container td {
    padding: 12px;
    text-align: left;
    border: 1px solid #555; /* Add a border */
}

.schedule-container th {
    background-color: #777;
    font-weight: bold;
}

.schedule-container tr:nth-child(odd) {
    background-color: #666;
}

.schedule-container tr:nth-child(even) {
    background-color: #888;
}
    .schedule-container tr:last-child {
        border-bottom: none;
    }

.title{
    font-size: 70px;
    font-family: var(--second-family);
    font-weight: 500;
    letter-spacing: 8px;
    text-align: center;
    color: rgb(227, 227, 227);
    margin-top: 40px;
    margin-bottom: 10px;
}
.line_otz{
    width: 600px;
    height: 4px;
    border-radius: 1px;
    background-color: #868383;
    margin: 0 auto;
    margin-bottom: 40px;
}

@media screen and (max-width: 650px) {
    .line_otz{
        width: 290px;
    }
    .title{
        font-size: 20px;
    }
}

@media (max-width: 300px) {
    .schedule-container th, .schedule-container td {
        padding: 8px;
        font-size: 12px;
    }
}


